 
<header class="navbar navbar-expand-lg navbar-light bg-light fixed-top" data-scroll-header>
  <div class="container"><a class="navbar-brand me-3 me-xl-4" href="real-estate-home-v1.html"><img class="d-block" src="img/logo/logo-dark.svg" width="116" alt="Property"></a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="btn btn-sm text-primary d-none d-lg-block order-lg-3" href="#signin-modal" data-bs-toggle="modal"><i class="fi-user me-2"></i>Sign in</a><a class="btn btn-primary btn-sm ms-2 order-lg-3" href="real-estate-add-property.html"><i class="fi-plus me-2"></i>Add<span class='d-none d-sm-inline'> property</span></a>
    <div class="collapse navbar-collapse order-lg-2" id="navbarNav">
      <ul class="navbar-nav navbar-nav-scroll" style="max-height: 35rem;">
        <!-- Menu items-->
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="real-estate-account-info.html">Personal Info</a></li>
            <li><a class="dropdown-item" href="real-estate-account-security.html">Password &amp; Security</a></li>
            <li><a class="dropdown-item" href="real-estate-account-properties.html">My Properties</a></li>
            <li><a class="dropdown-item" href="real-estate-account-wishlist.html">Wishlist</a></li>
            <li><a class="dropdown-item" href="real-estate-account-reviews.html">Reviews</a></li>
            <li><a class="dropdown-item" href="real-estate-account-notifications.html">Notifications</a></li>
            <li><a class="dropdown-item" href="signin-light.html">Sign In</a></li>
            <li><a class="dropdown-item" href="signup-light.html">Sign Up</a></li>
          </ul>
        </li>
        <li class="nav-item d-lg-none"><a class="nav-link" href="#signin-modal" data-bs-toggle="modal"><i class="fi-user me-2"></i>Sign in</a></li>
      </ul>
    </div>
  </div>
</header>
